a {
    font-family: Helvetica; sans-serif;
    font-size: 18px;
    color: black;
}

body {
  text-align: center;

}

h1 {
  font-family: Helvetica; sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: black;

}

h3 {
  font-family: Helvetica; sans-serif;
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica; sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: black;
}

p {
  font-family: Helvetica; sans-serif;
  font-size: 14px;
}

ul {
  display: block;
  list-style-type: none;
}

#footer {
  font-family: Helvetica; sans-serif;
  font-size: 11px
  color: black;
  background-color: dimgray;
}

#flatiron {
  background-image: url("../images/the-flatiron-building.png")
}
